<div id="account_manage_page">
    <!--start-->
    <div class="main-box main-box-noborder overflow-hidden">
        <div style="clear:both;width: 100%;height:45px;margin-bottom: 10px; border:1px solid #e6e6e6;">
            <div class="form-group ">
                <div class="w-20 relative mt-0-5">
                    <input class="form-control" type="text"   id="name_q" placeholder="请输入昵称" maxlength="20">
                </div>
                <div class="w-15 relative mt-0-5 ml-1">
                    <input class="form-control" type="text"   id="mobile_q" placeholder="请输入手机号" maxlength="20">
                </div>
                <div class="w-15 relative mt-0-5 ml-1 ">
                    <input class="form-control" type="text"  id="op_time_q" placeholder="请输入注册时间" maxlength="20">
                </div>
                <div class="w-15 relative mt-0-5 ml-1">
                    <select class="form-control"   id="state_q" placeholder="请选择账户状态">
                        <option value="">请选择账户状态</option>
                        <option value="1">正常</option>
                        <option value="2">冻结</option>
                    </select>
                </div>
                <a href="javascript:void(0);" class="btn btn-success font-14 pull-right mt-0-5" style="width: 70px" id="query">查询</a>
            </div>
        </div>
        <table  class="table-style-1 table-style-1-a table-hover mb-0-5 " id="table" style="border-spacing: 0">
            <thead>
            <tr class="sch " style="background-color: #f6f6f6;height: 10px;" >
                <td style="padding-top: 32px;width: 14%;" >
                    <div class="t"  style="text-align: center;" >昵称<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td style="padding-top: 32px;width: 14%;" >
                    <div class="t"  style="text-align: center;" >手机号<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td style="padding-top: 32px;width: 14%;">
                    <div class="t" style="text-align: center;">注册时间<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td  style="padding-top: 32px;width: 14%;">
                    <div class="t" style="text-align: center;">状态<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td style="padding-top: 32px;width: 16%;">
                    <div class="t" style="text-align: center;padding-right:8px">操作<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
            </tr>
            </thead>
            <tbody  id="accountInquiry">
            <!--<tr role="row" class="odd">
                <td><label class="checkbox-inline">01</label></td>
                <td><div style="text-align: center;">张三</div></td>
                <td><div style="text-align: center;">13333333333</div></td>
                <td><div style="text-align: center;">管理员</div></td>
                <td><div style="text-align: center;">2015-12-8</div></td>
                <td><div style="text-align: center;">正常</div></td>
                <td>
                    <div style="text-align: center;">
                        <a href="#addAccountModal" data-toggle="modal" class="btn btn-success font-14 " style="width: 60px" name="updateAccount">编辑</a>
                        <a href="javascript:void(0);" class="btn btn-success font-14 ml-0-5 " style="width: 60px">删除</a>
                    </div>
                </td>
            </tr>-->
            </tbody>
        </table>
        <nav class="pagination-wrap clearfix" style="height: 20px">
        </nav>
    </div>

    <!--私有js-->
    <script src="js/build-js/account.js"></script>
    <!--end-->
</div>