<div id="build_manage_page">
    <!--start-->
    <div class="main-box main-box-noborder overflow-hidden">
        <div style="clear:both;width: 100%;height:45px;margin-bottom: 10px; border:1px solid #e6e6e6;">
            <div class="form-group ">
                <div class="w-13 relative mt-0-5  ml-1 mr-2">
                    <input class="form-control" type="text"   id="name_q" placeholder="请输入建筑名称" maxlength="20">
                </div>
                <div class="w-13 relative mt-0-5 mr-2">
                    <select class="form-control"   id="sort_q" placeholder="请选择状态">
                        <option value="">请选择类型</option>
                    </select>
                </div>
                <div class="w-15 relative mt-0-5 mr-2">
                    <input class="form-control" type="text"   id="address_q" placeholder="请输入地址" maxlength="20">
                </div>
                <div class="w-12 relative mt-0-5  ">
                    <select class="form-control"   id="state_q" placeholder="请选择状态">
                        <option value="">请选择状态</option>
                        <option value="1">已展示</option>
                        <option value="2">已隐藏</option>
                    </select>
                </div>
                <a href="/buildP_detail"  target="_blank"  data-title="建筑添加" class="btn btn-success font-14 pull-right mt-0-5 ml-0-5" style="width: 70px" id="add">添加</a>
                <a href="javascript:void(0);" class="btn btn-success font-14 pull-right mt-0-5" style="width: 70px" id="query">查询</a>
            </div>
        </div>
        <table  class="table-style-1 table-style-1-a table-hover mb-0-5 " id="table" style="border-spacing: 0">
            <thead>
            <tr class="sch " style="background-color: #f6f6f6;height: 6px;" >
                <td style="padding-top: 32px;width: 14%;" >
                    <div class="t"  style="text-align: left;padding-left:18px" >建筑名称<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td style=" width: 14%;" >
                    <div class="t"  style="text-align: center;" >类型<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td style="padding-top: 32px;width: 20%;" >
                    <div class="t"  style="text-align: center;" >地址<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td style="padding-top: 32px;width: 10%;" >
                    <div class="t"  style="text-align: center;" >操作人<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td style="padding-top: 32px;width: 10%;">
                    <div class="t" style="text-align: center;">操作日期<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td  style="padding-top: 32px;width: 10%;">
                    <div class="t" style="text-align: center;">状态<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
                <td style="padding-top: 32px;width: 16%;">
                    <div class="t" style="text-align: center;padding-right:8px">操作<span class="sort-ico"><i class="icon-caret-up"></i><i class="icon-caret-down"></i></span></div>
                </td>
            </tr>
            </thead>
            <tbody   >
            </tbody>
        </table>
        <nav class="pagination-wrap clearfix" style="height: 20px">
        </nav>
    </div>


    <!--    &lt;!&ndash; 表格共通&ndash;&gt;
        <script src="js/table-ajax.js"></script>-->
    <!--私有js-->
    <script src="js/build-js/build.js"></script>
    <!--end-->
</div>