
<div id="buildP_detail_page">
    <!--start-->
    <div id="buildP_detail_div" class="main-box p-1-5" style="display: block">
        <form class="form-horizontal" role="form" action="" method="post" id="addProduct_from" data-validator-option="{beforeSubmit:function(){return true;}}">
            <div class="form-group ">
                <label class="control-label w-9" style="font-family: 微软雅黑;font-size: 16px">图册标题：</label>
                <div class="w-30 ">
                    <input id="name"   class="form-control" data-rule="图册标题:required;"  type="text"  placeholder="请输入图册标题" maxlength="20">
                </div>
            </div>
            <div class="form-group ">
                <label class="control-label w-9" style="font-family: 微软雅黑;font-size: 16px">图册封面：</label>
                <div class="w-10 h-8">
                    <img class="w-10 h-8" src="/images/Btn_BodyFenxiangbBg.png" id="url"/>
                </div>
                <!-- TODO-->
            </div>
            <div class="form-group">
                <label class="control-label w-9" style="font-family: 微软雅黑;font-size: 16px">图册内容：</label>
                <div class="w-55  clearfix">
                    <ul class="alert-policy-01 pull-left clearfix y-product-make-intro" style="width: 100%" id="details_ul">
                        <!--<li class="alert alert-dismissable w-14  ">-->
                            <!--<strong> <img src="/images/Btn_BodyFenxiangbBg.png" alt=""  class="w-14 h-12"   >-->
                                <!--<button type="button" class="close" data-dismiss="alert" ></button>-->
                            <!--</strong>-->
                            <!--<div class="relative w-14 h-10">-->
                                <!--<textarea class="w-14 h-10" name=" cost_content"-->
                                          <!--placeholder="请输入描述内容"-->
                                          <!--maxlength="1024"></textarea>-->
                            <!--</div>-->
                        <!--</li>-->
                    </ul>

                </div>
            </div>
            <div class="form-group ">
                <div class="roompic-upload ml-10">
                    <a id="add_detail" href="javascript:void(0);" class="form-btn-upload"><i class="icon-plus-sign"></i>添加图册内容</a>
                </div>
            </div>

        </form>
        <div class="text-center mt-6 mb-2">
            <button id="save" class="btn btn-success w-14 float-none   "  type="button">发布</button>
        </div>

    </div>

    <script src="js/build-js/pic_detail.js"></script>

    <!--end-->
</div>